.property-names {
  font: none;
  font-family: none;
  font-size: none;
  font-weight: none;
  font-style: none;
  font-variant: none;
  font-size-adjust: none;
  font-stretch: none;
  line-height: none;
  position: none;
  z-index: none;
  top: none;
  right: none;
  bottom: none;
  left: none;
  display: none;
  visibility: none;
  float: none;
  clear: none;
  overflow: none;
  overflow-x: none;
  overflow-y: none;
  clip: none;
  zoom: none;
  flex-direction: none;
  flex-order: none;
  flex-align: none;
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
  width: none;
  min-width: none;
  max-width: none;
  height: none;
  min-height: none;
  max-height: none;
  margin: none;
  margin-top: none;
  margin-right: none;
  margin-bottom: none;
  margin-left: none;
  padding: none;
  padding-top: none;
  padding-right: none;
  padding-bottom: none;
  padding-left: none;
  table-layout: none;
  empty-cells: none;
  caption-side: none;
  border-spacing: none;
  border-collapse: none;
  list-style: none;
  list-style-position: none;
  list-style-type: none;
  list-style-image: none;
  content: none;
  quotes: none;
  counter-reset: none;
  counter-increment: none;
  resize: none;
  cursor: none;
  -webkit-user-select: none;
  nav-up: none;
  nav-right: none;
  nav-down: none;
  nav-left: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transition-delay: none;
  -moz-transition-delay: none;
  -o-transition-delay: none;
  transition-delay: none;
  -webkit-transition-timing-function: none;
  -moz-transition-timing-function: none;
  -o-transition-timing-function: none;
  transition-timing-function: none;
  -webkit-transition-duration: none;
  -moz-transition-duration: none;
  -o-transition-duration: none;
  transition-duration: none;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transform-origin: none;
  -moz-transform-origin: none;
  -ms-transform-origin: none;
  -o-transform-origin: none;
  transform-origin: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: none;
  -moz-animation-duration: none;
  -o-animation-duration: none;
  animation-duration: none;
  -webkit-animation-play-state: none;
  -moz-animation-play-state: none;
  -o-animation-play-state: none;
  animation-play-state: none;
  -webkit-animation-timing-function: none;
  -moz-animation-timing-function: none;
  -o-animation-timing-function: none;
  animation-timing-function: none;
  -webkit-animation-delay: none;
  -moz-animation-delay: none;
  -o-animation-delay: none;
  animation-delay: none;
  -webkit-animation-iteration-count: none;
  -moz-animation-iteration-count: none;
  -o-animation-iteration-count: none;
  animation-iteration-count: none;
  -webkit-animation-direction: none;
  -moz-animation-direction: none;
  -o-animation-direction: none;
  animation-direction: none;
  -webkit-backface-visibility: none;
  -moz-backface-visibility: none;
  backface-visibility: none;
  text-rendering: none;
  text-align: none;
  -moz-text-align-last: none;
  text-align-last: none;
  vertical-align: none;
  white-space: none;
  text-decoration: none;
  text-emphasis: none;
  text-emphasis-color: none;
  text-emphasis-style: none;
  text-emphasis-position: none;
  text-indent: none;
  text-justify: none;
  letter-spacing: none;
  word-spacing: none;
  -ms-writing-mode: none;
  text-transform: none;
  text-overflow: none;
  text-overflow-ellipsis: none;
  text-overflow-mode: none;
  word-wrap: none;
  word-break: none;
  -moz-tab-size: none;
  -o-tab-size: none;
  tab-size: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  pointer-events: none;
  opacity: none;
  color: none;
  border: none;
  border-width: none;
  border-style: none;
  border-color: none;
  border-top: none;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
  border-right: none;
  border-right-width: none;
  border-right-style: none;
  border-right-color: none;
  border-bottom: none;
  border-bottom-width: none;
  border-bottom-style: none;
  border-bottom-color: none;
  border-left: none;
  border-left-width: none;
  border-left-style: none;
  border-left-color: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-border-top-left-radius: none;
  -moz-border-radius-topleft: none;
  border-top-left-radius: none;
  -webkit-border-top-right-radius: none;
  -moz-border-radius-topright: none;
  border-top-right-radius: none;
  -webkit-border-bottom-right-radius: none;
  -moz-border-radius-bottomright: none;
  border-bottom-right-radius: none;
  -webkit-border-bottom-left-radius: none;
  -moz-border-radius-bottomleft: none;
  border-bottom-left-radius: none;
  -webkit-border-image: none;
  -moz-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  outline: none;
  outline-width: none;
  outline-style: none;
  outline-color: none;
  outline-offset: none;
  background: none;
  background-color: none;
  background-image: none;
  background-repeat: none;
  background-attachment: none;
  background-position: none;
  background-position-x: none;
  background-position-y: none;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
  background-origin: none;
  -webkit-background-size: none none;
  -webkit-background-size: none;
  -moz-background-size: none;
  -o-background-size: none;
  background-size: none;
  box-decoration-break: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  align-content: none;
  align-items: none;
  align-self: none;
  animation-fill-mode: none;
  backdrop-filter: none;
  background-blend-mode: none;
  box-direction: none;
  box-flex: none;
  box-lines: none;
  box-ordinal-group: none;
  clip-path: none;
  column-count: none;
  column-fill: none;
  column-gap: none;
  column-rule-color: none;
  column-rule-style: none;
  column-rule-width: none;
  column-rule: none;
  column-span: none;
  column-width: none;
  columns: none;
  filter: none;
  flex-basis: none;
  flex-flow: none;
  flex-grow: none;
  flex-shrink: none;
  flex-wrap: none;
  flex: none;
  flow-from: none;
  flow-into: none;
  font-feature-settings: none;
  font-kerning: none;
  font-language-override: none;
  font-variant-ligatures: none;
  hyphenate-character: none;
  hyphenate-limit-lines: none;
  justify-content: none;
  line-break: none;
  marquee-direction: none;
  marquee-style: none;
  mask-clip: none;
  mask-composite: none;
  mask-image: none;
  mask-origin: none;
  mask-position: none;
  mask-repeat: none;
  mask-size: none;
  mask: none;
  order: none;
  perspective-origin: none;
  perspective: none;
  region-fragment: none;
  ruby-position: none;
  scroll-snap-coordinate: none;
  scroll-snap-destination: none;
  scroll-snap-points-x: none;
  scroll-snap-points-y: none;
  scroll-snap-type: none;
  shape-image-threshold: none;
  shape-margin: none;
  shape-outside: none;
  text-decoration-color: none;
  text-decoration-line: none;
  text-decoration-style: none;
  text-orientation: none;
  transform-origin-z: none;
  transform-style: none;
  wrap-flow: none;
  wrap-through: none;
  writing-mode: none;
  -o-animation-fill-mode: none;
  -o-background-clip: none;
  -o-background-origin: none;
  -ms-flex-direction: none;
  -ms-flex-flow: none;
  -ms-flex-wrap: none;
  -ms-flex: none;
  -ms-flow-from: none;
  -ms-flow-into: none;
  -ms-hyphens: none;
  -ms-region-fragment: none;
  -ms-scroll-snap-coordinate: none;
  -ms-scroll-snap-destination: none;
  -ms-scroll-snap-points-x: none;
  -ms-scroll-snap-points-y: none;
  -ms-scroll-snap-type: none;
  flex-item-align: none;
  flex-line-pack: none;
  grid-column: none;
  grid-row: none;
  touch-action: none;
  -moz-animation-fill-mode: none;
  -moz-background-origin: none;
  -moz-box-align: none;
  -moz-box-direction: normal;
  -moz-box-flex: 0;
  -moz-box-flex: none;
  -moz-box-ordinal-group: NaN;
  -moz-box-orient: vertical;
  -moz-box-pack: none;
  -moz-column-count: none;
  -moz-column-fill: none;
  -moz-column-gap: none;
  -moz-column-rule-color: none;
  -moz-column-rule-style: none;
  -moz-column-rule-width: none;
  -moz-column-rule: none;
  -moz-column-span: none;
  -moz-column-width: none;
  -moz-columns: none;
  -moz-font-feature-settings: none;
  -moz-font-kerning: none;
  -moz-font-language-override: none;
  -moz-font-variant-ligatures: none;
  -moz-margin-end: none;
  -moz-margin-start: none;
  -moz-padding-end: none;
  -moz-padding-start: none;
  -moz-perspective-origin: none;
  -moz-perspective: none;
  -moz-text-decoration-color: none;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: none;
  -moz-transform-style: none;
  object-fit: none;
  object-position: none;
  -ms-flex-align: none;
  -ms-flex-item-align: none;
  -ms-flex-line-pack: none;
  -ms-flex-negative: none;
  -ms-flex-order: none;
  -ms-flex-pack: none;
  -ms-flex-positive: none;
  -ms-flex-preferred-size: none;
  -ms-grid-column-align: none;
  -ms-grid-column: none;
  -ms-grid-columns: none;
  -ms-grid-row-align: none;
  -ms-grid-row: none;
  -ms-grid-rows: none;
  -ms-touch-action: none;
  -o-object-fit: none;
  -o-object-position: none;
  -o-text-overflow: none;
  -webkit-align-content: none;
  -webkit-align-items: none;
  -webkit-align-self: none;
  -webkit-animation-fill-mode: none;
  -webkit-app-region: none;
  -webkit-appearance: none;
  -webkit-aspect-ratio: none;
  -webkit-backdrop-filter: none;
  -webkit-background-blend-mode: none;
  -webkit-background-composite: none;
  -webkit-background-origin: none;
  -webkit-blend-mode: none;
  -webkit-border-after-color: none;
  -webkit-border-after-style: none;
  -webkit-border-after-width: none;
  -webkit-border-after: none;
  -webkit-border-before-color: none;
  -webkit-border-before-style: none;
  -webkit-border-before-width: none;
  -webkit-border-before: none;
  -webkit-border-end-color: none;
  -webkit-border-end-style: none;
  -webkit-border-end-width: none;
  -webkit-border-end: none;
  -webkit-border-fit: none;
  -webkit-border-horizontal-spacing: none;
  -webkit-border-start-color: none;
  -webkit-border-start-style: none;
  -webkit-border-start-width: none;
  -webkit-border-start: none;
  -webkit-border-vertical-spacing: none;
  -webkit-box-align: none;
  -webkit-box-decoration-break: none;
  -webkit-box-direction: none;
  -webkit-box-direction: normal;
  -webkit-box-flex-group: none;
  -webkit-box-flex: 0;
  -webkit-box-flex: none;
  -webkit-box-lines: none;
  -webkit-box-ordinal-group: NaN;
  -webkit-box-ordinal-group: none;
  -webkit-box-orient: none;
  -webkit-box-orient: vertical;
  -webkit-box-pack: none;
  -webkit-box-reflect: none;
  -webkit-clip-path: none;
  -webkit-color-correction: none;
  -webkit-column-axis: none;
  -webkit-column-break-after: none;
  -webkit-column-break-before: none;
  -webkit-column-break-inside: none;
  -webkit-column-count: none;
  -webkit-column-fill: none;
  -webkit-column-gap: none;
  -webkit-column-progression: none;
  -webkit-column-rule-color: none;
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: none;
  -webkit-column-rule: none;
  -webkit-column-span: none;
  -webkit-column-width: none;
  -webkit-columns: none;
  -webkit-cursor-visibility: none;
  -webkit-dashboard-region: none;
  -webkit-filter: none;
  -webkit-flex-basis: none;
  -webkit-flex-direction: none;
  -webkit-flex-flow: none;
  -webkit-flex-grow: none;
  -webkit-flex-shrink: none;
  -webkit-flex-wrap: none;
  -webkit-flex: none;
  -webkit-flow-from: none;
  -webkit-flow-into: none;
  -webkit-font-feature-settings: none;
  -webkit-font-kerning: none;
  -webkit-font-language-override: none;
  -webkit-font-size-delta: none;
  -webkit-font-smoothing: none;
  -webkit-font-variant-ligatures: none;
  -webkit-highlight: none;
  -webkit-hyphenate-character: none;
  -webkit-hyphenate-limit-after: none;
  -webkit-hyphenate-limit-before: none;
  -webkit-hyphenate-limit-lines: none;
  -webkit-justify-content: none;
  -webkit-line-align: none;
  -webkit-line-box-contain: none;
  -webkit-line-break: none;
  -webkit-line-clamp: none;
  -webkit-line-grid: none;
  -webkit-line-snap: none;
  -webkit-locale: none;
  -webkit-logical-height: none;
  -webkit-logical-width: none;
  -webkit-margin-after-collapse: none;
  -webkit-margin-after: none;
  -webkit-margin-before-collapse: none;
  -webkit-margin-before: none;
  -webkit-margin-bottom-collapse: none;
  -webkit-margin-collapse: none;
  -webkit-margin-end: none;
  -webkit-margin-start: none;
  -webkit-margin-top-collapse: none;
  -webkit-marquee-direction: none;
  -webkit-marquee-increment: none;
  -webkit-marquee-repetition: none;
  -webkit-marquee-speed: none;
  -webkit-marquee-style: none;
  -webkit-marquee: none;
  -webkit-mask-box-image-outset: none;
  -webkit-mask-box-image-repeat: none;
  -webkit-mask-box-image-slice: none;
  -webkit-mask-box-image-source: none;
  -webkit-mask-box-image-width: none;
  -webkit-mask-box-image: none;
  -webkit-mask-clip: none;
  -webkit-mask-composite: none;
  -webkit-mask-image: none;
  -webkit-mask-origin: none;
  -webkit-mask-position-x: none;
  -webkit-mask-position-y: none;
  -webkit-mask-position: none;
  -webkit-mask-repeat-x: none;
  -webkit-mask-repeat-y: none;
  -webkit-mask-repeat: none;
  -webkit-mask-size: none;
  -webkit-mask: none;
  -webkit-max-logical-height: none;
  -webkit-max-logical-width: none;
  -webkit-min-logical-height: none;
  -webkit-min-logical-width: none;
  -webkit-nbsp-mode: none;
  -webkit-opacity: none;
  -webkit-order: none;
  -webkit-overflow-scrolling: none;
  -webkit-padding-after: none;
  -webkit-padding-before: none;
  -webkit-padding-end: none;
  -webkit-padding-start: none;
  -webkit-perspective-origin-x: none;
  -webkit-perspective-origin-y: none;
  -webkit-perspective-origin: none;
  -webkit-perspective: none;
  -webkit-print-color-adjust: none;
  -webkit-region-break-after: none;
  -webkit-region-break-before: none;
  -webkit-region-break-inside: none;
  -webkit-region-fragment: none;
  -webkit-rtl-ordering: none;
  -webkit-ruby-position: none;
  -webkit-scroll-snap-coordinate: none;
  -webkit-scroll-snap-destination: none;
  -webkit-scroll-snap-points-x: none;
  -webkit-scroll-snap-points-y: none;
  -webkit-scroll-snap-type: none;
  -webkit-shape-image-threshold: none;
  -webkit-shape-margin: none;
  -webkit-shape-outside: none;
  -webkit-svg-shadow: none;
  -webkit-tap-highlight-color: none;
  -webkit-text-combine: none;
  -webkit-text-decoration-color: none;
  -webkit-text-decoration-line: none;
  -webkit-text-decoration-style: none;
  -webkit-text-decorations-in-effect: none;
  -webkit-text-emphasis-color: none;
  -webkit-text-emphasis-position: none;
  -webkit-text-emphasis-style: none;
  -webkit-text-emphasis: none;
  -webkit-text-fill-color: none;
  -webkit-text-orientation: none;
  -webkit-text-security: none;
  -webkit-text-stroke-color: none;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke: none;
  -webkit-transform-origin-x: none;
  -webkit-transform-origin-y: none;
  -webkit-transform-origin-z: none;
  -webkit-transform-style: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-wrap-flow: none;
  -webkit-wrap-through: none;
  -webkit-wrap: none;
  -webkit-writing-mode: none;
  alias-epub-caption-side: none;
  alias-epub-text-combine: none;
  alias-epub-text-emphasis-color: none;
  alias-epub-text-emphasis-style: none;
  alias-epub-text-emphasis: none;
  alias-epub-text-orientation: none;
  alias-epub-text-transform: none;
  alias-epub-word-break: none;
  alias-epub-writing-mode: none;
  alias-webkit-align-content: none;
  alias-webkit-align-items: none;
  alias-webkit-align-self: none;
  alias-webkit-border-bottom-left-radius: none;
  alias-webkit-border-bottom-right-radius: none;
  alias-webkit-border-top-left-radius: none;
  alias-webkit-border-top-right-radius: none;
  alias-webkit-box-sizing: none;
  alias-webkit-flex-basis: none;
  alias-webkit-flex-direction: none;
  alias-webkit-flex-flow: none;
  alias-webkit-flex-grow: none;
  alias-webkit-flex-shrink: none;
  alias-webkit-flex-wrap: none;
  alias-webkit-flex: none;
  alias-webkit-justify-content: none;
  alias-webkit-opacity: none;
  alias-webkit-order: none;
  alias-webkit-shape-image-threshold: none;
  alias-webkit-shape-margin: none;
  alias-webkit-shape-outside: none;
  alignment-baseline: none;
  all: none;
  azimuth: none;
  background-image-transform: none;
  background-repeat-x: none;
  background-repeat-y: none;
  baseline-shift: none;
  block-size: none;
  border-block-end-color: none;
  border-block-end-style: none;
  border-block-end-width: none;
  border-block-start-color: none;
  border-block-start-style: none;
  border-block-start-width: none;
  border-image-transform: none;
  border-inline-end-color: none;
  border-inline-end-style: none;
  border-inline-end-width: none;
  border-inline-start-color: none;
  border-inline-start-style: none;
  border-inline-start-width: none;
  box-line-progression: none;
  break-after: none;
  break-before: none;
  break-inside: none;
  buffered-rendering: none;
  caret-color: none;
  chain: none;
  clip-rule: none;
  color-interpolation-filters: none;
  color-interpolation: none;
  color-profile: none;
  color-rendering: none;
  contain: none;
  cue-after: none;
  cue-before: none;
  cue: none;
  cx: none;
  cy: none;
  d: none;
  direction: none;
  dominant-baseline: none;
  elevation: none;
  enable-background: none;
  epub-caption-side: none;
  epub-text-combine: none;
  epub-text-emphasis-color: none;
  epub-text-emphasis-style: none;
  epub-text-emphasis: none;
  epub-text-orientation: none;
  epub-text-transform: none;
  epub-word-break: none;
  epub-writing-mode: none;
  fill-opacity: none;
  fill-rule: none;
  fill: none;
  floating: none;
  flood-color: none;
  flood-opacity: none;
  font-display: none;
  font-synthesis: none;
  font-variant-alternates: none;
  font-variant-caps: none;
  font-variant-east-asian: none;
  font-variant-numeric: none;
  font-variant-position: none;
  fragment: none;
  glyph-orientation-horizontal: none;
  glyph-orientation-vertical: none;
  grid-area: none;
  grid-auto-columns: none;
  grid-auto-flow: none;
  grid-auto-rows: none;
  grid-column-end: none;
  grid-column-gap: none;
  grid-column-start: none;
  grid-gap: none;
  grid-row-end: none;
  grid-row-gap: none;
  grid-row-position: none;
  grid-row-span: none;
  grid-row-start: none;
  grid-template-areas: none;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template: none;
  grid: none;
  hanging-punctuation: none;
  hyphenate-limit-chars: none;
  hyphenate-limit-last: none;
  hyphenate-limit-zone: none;
  image-orientation: none;
  image-rendering: none;
  image-resolution: none;
  ime-mode: none;
  inline-size: none;
  internal-callback: none;
  isolation: none;
  justify-items: none;
  justify-self: none;
  kerning: none;
  layout-grid-char: none;
  layout-grid-line: none;
  layout-grid-mode: none;
  layout-grid-type: none;
  layout-grid: none;
  lighting-color: none;
  margin-block-end: none;
  margin-block-start: none;
  margin-inline-end: none;
  margin-inline-start: none;
  marker-end: none;
  marker-mid: none;
  marker-offset: none;
  marker-start: none;
  marker: none;
  marks: none;
  mask-border-outset: none;
  mask-border-repeat: none;
  mask-border-slice: none;
  mask-border-source: none;
  mask-border-width: none;
  mask-border: none;
  mask-mode: none;
  mask-source-type: none;
  mask-type: none;
  max-block-size: none;
  max-font-size: none;
  max-inline-size: none;
  max-lines: none;
  max-zoom: none;
  min-block-size: none;
  min-inline-size: none;
  min-zoom: none;
  mix-blend-mode: none;
  motion-offset: none;
  motion-path: none;
  motion-rotation: none;
  motion: none;
  offset-block-end: none;
  offset-block-start: none;
  offset-inline-end: none;
  offset-inline-start: none;
  orientation: none;
  orphans: none;
  overflow-style: none;
  overflow-wrap: none;
  padding-block-end: none;
  padding-block-start: none;
  padding-inline-end: none;
  padding-inline-start: none;
  page-break-after: none;
  page-break-before: none;
  page-break-inside: none;
  page: none;
  paint-order: none;
  pause-after: none;
  pause-before: none;
  pause: none;
  pitch-range: none;
  pitch: none;
  play-during: none;
  punctuation-trim: none;
  r: none;
  range: none;
  region: none;
  regions: none;
  rest-after: none;
  rest-before: none;
  rest: none;
  richness: none;
  rotate: none;
  ruby-align: none;
  ruby-merge: none;
  rx: none;
  ry: none;
  scale: none;
  scroll-behavior: none;
  scroll-blocks-on: none;
  scroll-snap-align: none;
  scroll-snap-margin: none;
  scroll-snap-padding: none;
  shape-inside: none;
  shape-padding: none;
  shape-rendering: none;
  size: none;
  snap-height: none;
  speak-as: none;
  speak-header: none;
  speak-numeral: none;
  speak-punctuation: none;
  speak: none;
  speech-rate: none;
  src: none;
  stop-color: none;
  stop-opacity: none;
  stress: none;
  stroke-dasharray: none;
  stroke-dashoffset: none;
  stroke-linecap: none;
  stroke-linejoin: none;
  stroke-miterlimit: none;
  stroke-opacity: none;
  stroke-width: none;
  stroke: none;
  system: none;
  text-anchor: none;
  text-combine-upright: none;
  text-decoration-line-through: none;
  text-decoration-none: none;
  text-decoration-overline: none;
  text-decoration-skip: none;
  text-decoration-underline: none;
  text-height: none;
  text-justify-trim: none;
  text-kashida-space: none;
  text-line-through-color: none;
  text-line-through-mode: none;
  text-line-through-style: none;
  text-line-through-width: none;
  text-line-through: none;
  text-overline-color: none;
  text-overline-mode: none;
  text-overline-style: none;
  text-overline-width: none;
  text-overline: none;
  text-script: none;
  text-underline-color: none;
  text-underline-mode: none;
  text-underline-position: none;
  text-underline-style: none;
  text-underline-width: none;
  text-underline: none;
  touch-action-delay: none;
  transform-box: none;
  translate: none;
  unicode-bidi: none;
  unicode-range: none;
  user-focus: none;
  user-input: none;
  user-zoom: none;
  vector-effect: none;
  voice-balance: none;
  voice-duration: none;
  voice-family: none;
  voice-pitch: none;
  voice-range: none;
  voice-rate: none;
  voice-stress: none;
  voice-volume: none;
  volume: none;
  white-space-treatment: none;
  widows: none;
  will-change: none;
  wrap-margin: none;
  wrap-option: none;
  x: none;
  y: none;
}
